.jumbotron{"data-turbolinks": "false"}
  .row
    .col-md-9
      %h1= collection.name
      - unless collection.description.blank?
        %p= collection.description.html_safe
    - if policy(collection).update?
      %p.col-md-3.actions
        %button.btn.btn-default
          = link_to(t(:collection_edit_button), edit_collection_path(collection))
    = render 'collection_search', collection: collection