.search-results__icon
  %i.fa.fa-folder-open-o.fa-3x
.search-results__details
  .search-results__title= t('search_results.collection_title_html', :name => collection_name(result).html_safe)
  .search-results__content= collection_desc(result).html_safe
