console.log("Adding user");
// NOTE: this link_to is copied from app/views/collections/edit.html.haml and is thus duplicate code, but
$(".uk-list.collection_users").append(
  "<li id='user_<%= @user.id %>'><%= j(link_to(@user.username, @user)) %><%= j(remove_collection_user_link(@collection, @user)) %></li>"
);
$('.find_users .typeahead').typeahead('val', '');
console.log("Added user <%= j(@user.name) %>");
