%h2 Reconciliation API Test
= form_tag(api_reconciliation_path, method: "GET") do
  %textarea#query{name: name, cols: 100, rows: 20}= JSON.pretty_generate(@sample_query)
  %div
    %input{type: "submit"}
