%ul.feed.main-feed
  - @main_feed.published_items.each do |item|
    %li.feed-item.main-feed-item>
      - if item.page
        - url = page_path(item.page)
      - else
        - url = item.link_url
      %a{:href => url}
        %img.main-feed-img{:src => item.img_url}
        - if item.page
          - item_label = item.page.name.html_safe
        - else
          - item_label = item.label
        %div.main-feed-txt= item_label
