-# JSON.dump instead of to_json, which escapes things like ampersands
.js-taxon-bar-chart{ data: { results: JSON.dump(count_viz_data(@query, @data)), :'prompt-text' => t("traits.data_viz.bar_prompt") } }
