- if @topic.nil?
  %div#topic
    = button_to "Start Discussion" ,topic_path ,class: "uk-button uk-button-default eol-secondary-alt",
                  params: {page: @page}, remote: true
- else
  = render 'comments/comment_post'
