- if type == :pages && @pages
  = render :partial => "partial_search_results",
    :locals => { :results => @pages, :partial => "pages/search_result",
    :url_proc => Proc.new { |page| page_path(page) }, :type => :pages }
- elsif ((type == :media && @media) || (type == :articles && @articles))
  - results = (type == :media && @media) || (type == :articles && @articles)
  = render :partial => "partial_search_results",
    :locals => { :results => results, :partial => "media/search_result",
    :url_proc => Proc.new{ |medium| medium_path(medium) }, :type => type }
- elsif type == :users && @users
  = render :partial => "partial_search_results",
    :locals => { :results => @users, :partial => "users/search_result",
    :url_proc => Proc.new{ |user| user_path(user) }, :type => :users }
-# elsif @type == :collections && @collections

-# elsif @type == :users && @users
