= form_tag(search_results_path, { :class => "search-form center-text", :method => "get", :autocomplete => :off}) do
  = text_field_tag("q", nil, class: "search-input", size: 16, placeholder: t("nav.search.placeholder"))

#suggestions-container.suggestions-container.center-text
