- if @pages.results.empty?
  %p= t(:search_empty, q: query_string)
- else
  %ul
    - @pages.results.each do |page|
      %li
        - unless page.top_images.empty?
          - image = page.top_images.first
          = image_tag(image.small_icon_url, alt: image.name.html_safe, size: "88x88")
        = link_to(page.name.string.titlecase, page_path(page))
        = link_to(page.scientific_name.html_safe, page_path(page))
