= paginate @search.grouped_data
%ul.traits.traits-term-search
  - @search.grouped_data.each do |page|
    = render :partial => "search/partial_search_result", :locals => { :result => page }
= paginate @search.grouped_data
