= form.select :selected_uri, term_options_for_select(form.object), {}, { class: "filter-input uk-select term-browse-select js-term-select" }
= form.hidden_field :type
= form.hidden_field :parent_uri

- if !inner.nil?
  .term-select-children
    = inner.html_safe
