.term-select-children.js-term-select-children
  = form.select :selected_term_id, term_options_for_select(form.object), {}, { class: "filter-input uk-select term-browse-select js-term-select" }
  = form.hidden_field :type
  = form.hidden_field :parent_term_id

  - if !inner.nil?
    = inner.html_safe
