<%# Intentionally empty, useful override point to add extra fields. %>
 <div class='field'>
    <%= f.label :show_date do%>
    <%= f.check_box :show_date%> 
     <%= I18n.t('show_date')%>
    <%end%>
</div>
