- data = [] unless local_assigns.has_key?(:data)
- pages = [] unless local_assigns.has_key?(:pages)
- if data.nil? || data.empty?
  %p.uk-text-center= t("search_results.empty")
- else
  = paginate data
  %ul.traits.traits-term-search
    -# TODO: helper
    - prev_page_id = nil
    - data.each_with_index do |trait,index|
      = render :partial => "terms/data_row", :locals => { :pages => pages, :trait => trait, :show_taxon => true }
  = paginate data
