%table.traits_by_predicate.table.table-hover.table-condensed.table-bordered.table-striped
  %tbody
    - grouped_traits = @object_terms.group_by { |t| t[:page_id] }
    -# TODO: helper
    - prev_page_id = nil
    - grouped_traits.keys.sort.each do |page_id|
      - TraitBank.sort(grouped_traits[page_id]).each do |trait|
        %tr{ id: trait[:id] }
          - page = @object_term_pages[page_id]
          %th.trait-table-image{ scope: "row" }
            - if prev_page_id != page_id
              - show_trait_page_icon(page)
          %th.trait-table-name{ scope: "row" }
            - if prev_page_id != page_id
              - show_trait_page_name(page)
            - show_trait_modifiers(trait)
            - prev_page_id = page_id
          %th{ scope: "row" }
            = link_to(trait[:predicate][:name], term_path(uri: trait[:predicate][:uri]))
          %td
            - show_trait_value(trait)
            - show_metadata(trait)
          - show_source_col(trait)
