#term.uk-container
  .uk-card.uk-card-default.uk-grid.uk-padding
    .uk-width-4-5
      .ui.dimmer.js-term-form-dimmer
        .ui.loader
      %h1= t("term.header.data_search")
      = render "search_form"
  - if @pages
    - if @query.type == "record"
      = render 'data_table', { data: @grouped_data, pages: @pages }
    - else
      %ul.uk-list
        - @pages.each do |_, page|
          = render("pages/as_row",
            page: page,
            icon: page.icon,
            media: [],
            common: page.name,
            scientific: page.scientific_name)
