#term.uk-container
  .uk-card.uk-card-default.uk-grid.uk-padding
    .uk-width-4-5
      %h1 Data Search
      = render "search_form"
  - if @pages
    = render 'data_table', { data: @grouped_data, pages: @pages }
