%h1 Reconciliation API Identifiers

%h2 Entity Identifiers
%p= "Each entity identifier returned by the reconciliation API is the path portion of the URL for that entity's general representation on EOL, such that a given id can be substituted into https://eol.org/<id> to yield a valid url for its entity. The format of each type's identifiers is outlined below."

%ul
  %li= "taxa: pages/<numeric_id>, e.g., pages/311544"

