@import "colors";
@import "dimensions";
@import "shared/layout";

.traits {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

  .trait {
    border: 1px solid $light-gray;
    margin-top: 3px;
    padding: 10px;
    width: 100%;
  }

  .trait-source {
    float: right;
  }

  .trait-thumb {
    float: left;
  }
  
  .trait-data {
    margin-left: 54px;
    overflow: hidden;
  }

.meta-items-arw {
  bottom: 5px;
  display: block;
  cursor: pointer;
  right: 12px;
  text-align: center;
  width: 100%;
}

.term-info-a {
  cursor: pointer;
}

.desc-meta {
  list-style: none;
  padding: 0;
}

.more-traits {
  padding: 20px 10px;
  text-align: center; 
}
