= @dummy
%div
  = link_to :sign_in , new_user_session_path, 'data-no-turbolink': true
  = link_to :sign_up , new_user_registration_path, 'data-no-turbolink': true
  
%div
  = render 'discourse/embed_comments'          