@import "./shared/traits";
@import "./shared/summary_card";
@import "./colors";

.l-terms {
  padding: 10px percentage(15 / 375);
}

.filter {
  margin-bottom: 16px;
  position: relative;
}

.is-multiple-filters .filter {
  padding-left: 40px;
}

.traits-term-search {
  border-top: 1px solid $light-gray;
  margin-bottom: 30px;
  margin-top: 30px;
}

.submit {
  display: block;
  margin-top: 20px;
}

.filter-row {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  width: 100%;
}

.filter-row-flex {
  flex-wrap: wrap;  
}

.is-filter-row-with-errors {
  margin-top: 25px;
}

.is-filter-row-with-browser {
  margin-bottom: 0;
}

.filter-row-group {
  width: 100%;
}


.filter-error {
  color: #f00;
  font-size: 12px;
  position: absolute;
  overflow: visible;
  text-align: center;
  top: -15px;
  white-space: nowrap;
  width: 100%;
}

.filter-field {
  position: relative;

  & > span {
    width: 100%;
  }

  & .tt-menu {
    border: 1px solid $light-gray;
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
  }
}

.filter-field-radio {
  margin: 0 15px;
  white-space: nowrap;
  width: auto;
}

.filter-radios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  white-space: nowrap;
}

.filter-input {
  vertical-align: bottom !important;
}

.l-filter-first {
  position: absolute; 
  vertical-align: bottom;
  left: 0;
  top: 6px;
}

.filter-icon {
  padding-bottom: 5px;
}

.filter-txt {
  display: inline-block;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  margin: 0 5px;
  vertical-align: bottom;
}

.add-filter {
  cursor: pointer;
}

.is-icon-disabled {
  cursor: default;
  color: #ccc;
}

.l-filter-full {
  width: 100%;

  & > span {
    width: 100%;
  }
}


.edit-filters-row {
  color: $eol-blue;
  list-style: none;
  padding: 0;
  text-align: center;

  & > li {
    cursor: pointer;
    display: inline-block;
    margin: 0 8px;

    & > a {
      color: $eol-blue;
      text-decoration: none;
    }
  }
}

.filter-hdr {
  font-size: 14px;
  font-weight: normal;
  margin: 10px 0;
  text-align: center;
}

.show-filters {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;

  & > li {
    border: 1px solid $eol-blue;
    border-radius: 5px;
    margin: 5px;
    padding: 12px 30px;
  }
}

.raw-query {
  position: relative;
  margin: 10px auto 0 auto;
  width: 500px;  
}

.show-raw-query {
  cursor: pointer;
  color: $eol-blue;
  text-align: center;
}

.raw-query-txt {
  height: 300px;
  width: 100%;
}

.base-errors {
  color: #f00;
}

.browse-terms {
  padding: 0 8px;
  vertical-align: middle;
}

.term-browse-select {
  margin-top: 3px;
}

.term-select-children {
  padding-left: 40px;
}

.viz-contain {
  margin: 20px 0 15px 0;
}


.viz-contain-hist, .viz-contain-bar, .viz-contain-sankey {
  display: none;
}

// Gallery view
.ts-gallery {

}

.ts-gallery-img {
  & > img {
    height: 100%;
    width: 100%;
  }

  & > span { 
    margin: 10px 0 0 10px;
  }
}

.ts-gallery-card {
  height: 220px;
  width: 220px;
}

.ts-gallery-card-link {
  display: block;
  height: 100%;
  width: 100%;
}

/* adjust if visualization width changes or becomes dynamic */
@media(min-width: 820px) { 
  .viz-contain-bar { 
    display: block;
  }
}

@media(min-width: 850px) { 
  .viz-contain-hist, .viz-contain-sankey { 
    display: block;
  }
}


