@use 'sass:math';
@import "./shared/traits";
@import "./shared/summary_card";
@import "./colors";

h1 {
  font-size: 22px;
  margin-top: 10px;
  text-align: center;
}

.l-terms {
  padding: 10px percentage(math.div(15, 375));
}

.filters {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}

.input-field {
  position: relative;
  width: 100%;

  &>span {
    width: 100%;

    &>input {
      padding-right: 30px;
    }
  }

  & > .clear-field {
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 10px;
    width: auto;
  }

  & .tt-menu {
    border: 1px solid $light-gray;
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
  }
}

.filter {
  margin-bottom: 30px;
  position: relative;
}

.filter-fields {
  border: 1px solid $eol-gray;
  padding: 14px;
}

.is-multiple-filters .filter {
  padding-left: 40px;
}

.traits-term-search {
  border-top: 1px solid $light-gray;
  margin-bottom: 30px;
  margin-top: 30px;
}

.submit {
  display: block;
  margin-top: 20px;
}

.filters-label {
  font-size: 16px;
  font-weight: bold;
  margin: 18px 0 10px 0;
  text-align: center;
}

.filter-row {
  display: flex;
  margin-bottom: 8px;
  width: 100%;
}

.filter-row-center {
  justify-content: center;
}

.filter-row-flex {
  flex-wrap: wrap;
}

.is-filter-row-with-errors {
  margin-top: 25px;
}

.is-filter-row-with-browser {
  margin-bottom: 0;
}

.filter-row-group {
  width: 100%;
}


.filter-error {
  color: #f00;
  font-size: 12px;
  position: absolute;
  overflow: visible;
  text-align: center;
  top: -15px;
  white-space: nowrap;
  width: 100%;
}

.filter-field-radio {
  margin: 0 10px;
}

.filter-radios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  white-space: nowrap;
}

.filter-input {
  vertical-align: bottom !important;
}

.l-filter-first {
  position: absolute;
  vertical-align: bottom;
  left: 0;
  top: 6px;
}

.filter-icon {
  padding-bottom: 5px;
}

.filter-txt {
  display: inline-block;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  margin: 0 5px;
  vertical-align: bottom;
}

.add-filter {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px;
  border: 1px solid $eol-gray;
}

.is-icon-disabled {
  cursor: default;
  color: #ccc;
}

.l-filter-full {
  width: 100%;

  & > span {
    width: 100%;
  }
}


.edit-filters-row {
  color: $eol-blue;
  list-style: none;
  padding: 0;
  text-align: center;

  & > li {
    cursor: pointer;
    display: inline-block;
    margin: 0 8px;

    & > a {
      color: $eol-blue;
      text-decoration: none;
    }
  }
}

.filter-hdr {
  font-size: 14px;
  font-weight: normal;
  margin: 10px 0;
  text-align: center;
}

.show-filters {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;

  & > li {
    margin: 5px;
  }

  & > li.show-filter {
    border: 1px solid $eol-blue;
    border-radius: 5px;
    padding: 12px 30px;
  }

  & > li.show-filter-join {
    font-weight: bold;
  }

}

.raw-query {
  position: relative;
  margin: 10px auto 0 auto;
  width: 500px;
}

.show-raw-query {
  cursor: pointer;
  color: $eol-blue;
  text-align: center;
}

.raw-query-txt {
  height: 300px;
  width: 100%;
}

.base-errors {
  color: #f00;
}

.browse-terms {
  padding: 0 8px;
  vertical-align: middle;
}

.term-browse-select {
  margin-top: 3px;
}

.term-select-children {
  padding-left: 40px;
}

.viz-contain {
  margin: 20px 0 15px 0;
}


.viz-contain-hist, .viz-contain-bar, .viz-contain-sankey, .viz-contain-assoc, .viz-contain-taxon-summary {
  display: none;
}

// Gallery view
.ts-gallery {

}

.ts-gallery-img {
  & > img {
    height: 100%;
    width: 100%;
  }

  & > span {
    margin: 10px 0 0 10px;
  }
}

.ts-gallery-card {
  height: 220px;
  width: 220px;
}

.ts-gallery-card-link {
  display: block;
  height: 100%;
  width: 100%;
}


/* adjust if visualization width changes or becomes dynamic */
@media(min-width: 830px) {
  .viz-contain-bar {
    display: block;
  }
}

@media(min-width: 850px) {
  .viz-contain-hist, .viz-contain-sankey, .viz-contain-assoc {
    display: block;
  }
}

@media(min-width: 860px) {
  .viz-contain-taxon-summary {
    display: block;
  }
}
