-# These IDs are all used by JavaScript to populate the page with the proper map
-# content.
#map
  #gmap
    #panel
      %div
        = I18n.t(:georeference_records_colon)
        %span#total_markers
      #markerlist
    #map-container
      #map-canvas
    %p
      -# TODO: We need to pull the link out of the database somewhere...
      = I18n.t(:georef_occurrence_disclaimer, link: link_to(@page.occurrence_map.url)).html_safe
