- if ! @page.occurrence_map? && @page.maps.blank?
  .empty
    %p= I18n.t(:maps_empty)
- if @page.occurrence_map?
  = render 'json_map'
- unless @page.maps.blank?
  TODO: something here for the other maps.
