- if ! @page.occurrence_map? && @page.maps.blank?
  .empty
    %p= I18n.t("maps.empty")
- if @page.occurrence_map?
  = render "json_map"
- unless @page.maps.blank?
  %h3.other-maps-title= t("maps.other_maps_title")
  = render "page_media", filterable: false

