- @articles.group_by(&:first_section).each do |section, articles|
  %h2.ui.top.attached.header= section.name
  %ul.ui.attached.segment.articles
    - articles.sort_by(&:first_section).each_with_index do |article, index|
      = render :partial => "page_article", :locals => { article: article }
