- cache(page_data_path(@page), expires_in: 1.day) do
  %ul.traits
    - @page.predicates.each_with_index do |uri, index|
      - predicate = @page.glossary[uri]
      - if predicate.nil?
        - Rails.logger.error("** ERROR: missing predicate #{uri}")
        - next
      - previous_predicate = nil
      - @page.grouped_data[uri].each do |trait|
        -# TODO: this partial shouldn't be in terms, it should be in traits.
        = render :partial => "terms/data_row", :locals => { :page => @page, :trait => trait, :show_taxon => false }
        -# Removed a bunch of old code, here. Check 5d3a7a30fdf2e2ce790faa1fd78a58e305e7afde
