- max_rows = 10
- traits = @page.traits
%table.traits_by_page.ui.striped.table.padded.selectable
  %tbody
    -# TODO: I18n of header
    %thead
      %tr
        %th.four.wide= "Trait"
        %th.nine.wide= "Value"
        %th= "Source"
    - @page.predicates.each do |uri|
      - predicate = @page.glossary[uri]
      - previous_predicate = nil
      - TraitBank.sort(@page.grouped_traits[uri]).each do |trait|
        %tr.top.aligned{ id: trait[:id] }
          %td{ scope: "row" }
            - if predicate == previous_predicate
              / same predicate
            - else
              %span.ui.small.header
                = link_to(predicate[:name], term_path(uri: predicate[:uri]))
                - previous_predicate = predicate
            - show_trait_modifiers(trait)
          %td
            - show_trait_value(trait)
            - show_metadata(trait)
          - show_source_col(trait)
