%ul.uk-breadcrumb.eol-padding-tiny
  - @page.native_node.ancestors.each do |node|
    %li= link_to(node.canonical_form.html_safe, node.page_id ? page_path(node.page_id) : "#")
  %i.uk.icon.long.arrow.right
