- name = article.name.html_safe
- name = article.sections.first.name if name.blank? || name.empty?
.article
  %h3= name
  = article.body.html_safe
  .attributions
    %h4= t(:content_attributions_header)
    = render("attributions/for_content", content: article)
