%h2= t(:node_hierarchies_header)
.page-hierarchies.uk-card.uk-card-body.uk-box-shadow-medium.uk-padding
  %ul
    -# Push the native node to the top of the list:
    - nodes = @page.nodes.to_a
    - native_node = nodes.index { |n| n.id == @page.native_node.id }
    - nodes.insert(0, nodes.delete_at(native_node)) if native_node
    - nodes.each do |node|
      %h3.uk-card-title.uk-heading-divider= node.resource.name
      %ul.uk-list
        - classification(node, node.ancestors)
%h2= t(:node_children_header)
.page-children.uk-card.uk-card-body.uk-box-shadow-medium.uk-padding
  - if @page.native_node.children.size > 0
    %ol
      - @page.native_node.children.each do |node|
        %ul.uk-list
          - summarize(node.page, current_page: false, node: node)
  - else
    .uk-text-lead= t(:node_children_empty)
