- @page.native_node.ancestors.each do |node|
  = link_to(node.canonical_form.html_safe, node.page_id ? page_path(node.page_id) : "#", class: "section")
  - unless node == @page.native_node.ancestors.last
    %i.right.chevron.icon.divider
