- max_rows = 10
- traits = @page.traits
.uk-overflow-auto
  %table.traits_by_page.uk-table.uk-table-small.uk-table-striped.uk-table-middle
    %thead
      %tr
        %th.uk-width-1-5= t("trait_table.headers.predicate")
        %th.uk-width-3-5= t("trait_table.headers.value")
        %th.uk-width-1-5= t("trait_table.headers.source")
    %tbody
      -# TODO: helper
      - @page.predicates.each do |uri|
        - predicate = @page.glossary[uri]
        - previous_predicate = nil
        - TraitBank.sort(@page.grouped_traits[uri]).each do |trait|
          %tr{ id: trait[:id] }
            %th.uk-table-middle{ scope: "row" }
              - if predicate == previous_predicate
                / same predicate
              - else
                = link_to(predicate[:name], term_path(uri: predicate[:uri]))
                - previous_predicate = predicate
              - show_trait_modifiers(trait)
            %td
              - show_trait_value(trait)
              - show_metadata(trait)
            - show_source_col(trait)
