- first = names.first
- string = first.italicized
.item.js-name-card-item{ 'data-hide-on-close': hidden, class: hidden ? "uk-hidden" : "" }
  .header= string.html_safe
  .description.uk-text-meta
    - formatted_names = []
    - names.each do |name|
      - next if name.resource.nil? && name.attribution.blank?
      - note = ''
      - note += link_to(name.resource.name, name.resource) if name.resource
      - note += "\n#{name.attribution.html_safe}" if name.resource.dwh? && !name.attribution.blank? # XXX: the \n would mess things up for multiple notes but we assume dwh entries are separated from others
      - formatted_names << note
    - if include_rank && first.node.rank
      = t(:name_recognized_by_rank, rank: first.node.rank.name.capitalize, by: formatted_names.to_sentence).html_safe
    - else
      = t(:name_recognized_by, by: formatted_names.to_sentence).html_safe

