- scientific_names.sort.group_by { |n| n.italicized }.each do |string, names|
  - next if status == accepted && names.all? { |n| !n.is_preferred? } # These are almost always bogus.
  .item
    .header= string.html_safe
    .description.uk-text-meta
      - formatted_names = []
      - names.each do |name|
        - next if name.resource.nil? && name.attribution.blank?
        - note = ''
        - note += link_to(name.resource.name, name.resource) if name.resource
        - note += "\n#{name.attribution.html_safe}" if name.resource.dwh? && !name.attribution.blank? # XXX: the \n would mess things up for multiple notes but we assume dwh entries are separated from others
        - formatted_names << note
      = t(:name_recognized_by, by: formatted_names.to_sentence).html_safe
