.page-icon>
  -if result.icon
    = image_tag(result.icon, :class => "image")
  -else
    %i.huge.image.icon
.details>
  .common-name.title= page_common_name(result).html_safe
  .sci-name.content= page_sci_name(result).html_safe
  .hierarchy.misc-info= hierarchy_str(result).html_safe
