.page-icon>
  -if result.icon
    = image_tag(result.icon, :class => "image")
  -else
    %i.huge.image.icon
.details>
  .common-name= page_common_name(result).html_safe
  .sci-name= page_sci_name(result).html_safe
  .hierarchy= hierarchy_str(result).html_safe
