.l-tabs
  .l-page-head
    - if (!overview? && @page.icon)
      = image_tag @page.icon, :class => "head-icon"
    .names
      %h1= @page.name.titlecase.html_safe
      %h2= @page.scientific_name.html_safe
  .l-page-actions
    %ul
      %li
        - dest = current_user ? new_collected_page_path(page_id: @page.id) : new_user_session_path
        -# TODO: once upon a time, this worked as a remote link, but it wasn't working when I checked. Fix.
        - basic_button("plus", t("pages.actions.collect"), dest)
  %ul.tabs
    - tab("overview", page_path(@page))
    - if @page.articles.size > 0
      - tab("detail", page_details_path(@page))
    - if @page.has_data?
      - tab("data", page_data_path(@page))
    - if @page.media_count > 0
      - tab("media", page_media_path(@page))
    - if @page.map?
      - tab("maps", page_maps_path(@page))
    - tab("names", page_names_path(@page))
    - if @page.referents_count > 1
      - tab("literature & references", page_literature_and_references_path(@page))
