%ul.uk-list.uk-list-divider
- @topics[0..5].each do |topic|
  %li
    %strong= link_to((topic["fancy_title"] || topic["title"]).html_safe, "#{@discourse_url}/t/#{topic["id"]}")
    = topic["excerpt"].try(:html_safe)
