.trophic-web.js-trophic-web{ data: { page: { id: @page.id } } }
  .trophic-web-inner
    .split-left
      .centered.js-network-contain
        %svg.js-network-svg
    .split-right
      %svg.js-tooltip-svg.tooltip-svg
      .js-tooltip
    .split-bottom
      .controls
        %button.js-zoom-in +
        %button.js-zoom-out -
        %button.js-reset reset

