.trophic-web.js-trophic-web{ class: local_assigns.include?(:extra_class) ? extra_class : "", data: { init: data.to_json, translations: translations.to_json }}
  .ui.dimmer.active
    .ui.loader
  .trophic-web-inner
    .split-left
      .centered.js-network-contain
        %svg.js-network-svg
    .split-right
      %h3.trophic-web-title= t(".trophic_web_title_html", about_path: refinery.marketable_page_path(path: "discover/food-webs", locale: locale_nil_default), tooltip: t(".trophic_web_about"))
      %svg.js-tooltip-svg.tooltip-svg
      .js-tooltip
    .split-bottom
      .controls
        %button.js-zoom-in +
        %button.js-zoom-out -
        %button.js-reset= t(".reset")
      .uk-text-meta.uk-position-top-right= t(".globi_credit_html", url: "https://www.globalbioticinteractions.org?#{ { interactionType: 'interactsWith', sourceTaxon: @page.canonical_notags }.to_query }")

