%body
  .landing_page
    .uk-container
      .uk-section
        = image_tag("large_logo.png")
      .uk-section.uk-section-small.uk-text-center
        %h1.uk-title= t("landing_page.header")
        .uk-section
          = form_tag(main_app.search_path, method: "get", autocomplete: "off", class: "uk-search uk-search-default") do |f|
            = autocomplete_field :autocomplete, 'q', autocomplete_path, placeholder: t("landing_page.search_placeholder"), class: "uk-search-input", 'data-min-length' => 3
            %a.uk-search-icon-flip{ uk: { search: { icon: true } } }
  .uk-container
    .uk-section
      %ul#page_nav.uk-grid.uk-child-width-expand{ uk: { grid: true } }
        - @stats.each do |key, value|
          %li
            - index_stat(key, value)
