// Place all the styles related to the EditorPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// = require trix

.editor-pages {
  list-style: none;
}

.editor-page-name {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.editor-page-actions {
  display: inline-block;
  margin-left: 20px;
}

.editor-page-locales {
  list-style: none;
  margin-top: 20px;
  padding: 0;

  & > li {
    display: inline-block;
  }
}
