.page-icon
  -if result.respond_to?(:medium_icon_url)
    = image_tag(result.medium_icon_url, :class => "image")
  -else
    %i.fa.fa-file-text-o.fa-3x
.details
  .title= medium_title(result).html_safe
  .content= medium_owner(result).html_safe
