%h1= t(".title")
%div= t(".body_html", example_search_path: @example_search_path, autogen_page_path: @autogen_page_path, property_graph_url: "http://graphdatamodeling.com/Graph%20Data%20Modeling/GraphDataModeling/page/PropertyGraphs.html", neo4j_url: "https://neo4j.com/docs/", data_services_path: editor_page_path(directory_id: "what-is-eol", id: "data-services"))
- if @wordcloud_data.any?
  = render "shared/wordcloud", words: @wordcloud_data.to_json, class_name: "tb-wordcloud"
