@import "colors";
@import "dimensions";

$col-sel-submit-green: #25991f;

$col-sel-item-height: 60px;

/* Add to collection overlay */
.col-overlay-contain {
  padding-top: 15px;
}

.col-overlay-contain > h2 {
  color: $white;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

/* Collection select */
.col-sel {
  margin: 10px auto;
  position: relative;
  width: 250px;
}

.col-sel-item {
  background: $white;
  border-bottom: 1px solid $eol-gray;
  cursor: pointer;
  height: $col-sel-item-height;
  line-height: $col-sel-item-height;
  text-align: center;
}

.col-sel-items {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: $col-sel-item-height;
  width: 100%;
}

.btn-col-sel {
  background: $col-sel-submit-green;
  color: $white;
}

.is-col-sel-open {
  .col-sel-items {
    display: block;
  }

  .col-sel-choice {
    background: $eol-gray;
    color: $white;
  }
}

/* Collection card */
.collect-card {
  margin: 0 auto;
  width: $card-width; 
}

.collect-card-top {
  $height: 40px;

  background: $white;
  font-size: 18px;
  height: $height;
  line-height: $height;
  padding: 0 10px;
}

.collect-card-name {
  float: left;
}

.collect-card-count {
  float: right;
}

.collect-card-icons {
  margin: 0;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  width: $card-width;
}

.collect-card-icon {
  $dim: $card-width / 5.2;

  display: inline-block;
  height: $dim;
  vertical-align: top;
  width: $dim;

  &:nth-child(odd) {
    background: #757575;
  }

  &:nth-child(even) {
    background: #a3a3a3;
  }
}
