// Fix for Angular + Bootstrap:
.nav, .pagination, .carousel, .panel-title a
  cursor: pointer

// OVERRIDE BOOTSTRAP / ANGULAR DEFAULTS

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700)
body
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: 400

$base-color: rgb(51, 51, 51)

.ng-validation-error
  color: #ff0000

.btn:focus
  background-color: rgb(147,147,147)

button
  box-shadow: 1px 1px 5px #ccc

button a
  font-weight: 600

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus
  box-shadow: 1px 1px 5px #444
  font-weight: 600

// HEADER

.nav-search .input-group
  width: 30em

.search-indicator
  padding-top: 1.2em

// PAGE HEADERS / JUMBOTRONS

#main
  padding-top: 6em

$high_jumbo: #f3f4f5
$mid_jumbo: #eaecef
$low_jumbo: #fafbfc

.jumbotron
  box-shadow: 2px 2px 4px #ccc
  border: 1px solid darken($mid_jumbo, 5%)
  background: -webkit-linear-gradient(top, $high_jumbo 0%, $mid_jumbo 35%, $low_jumbo 100%) /* Chrome10-25, Safari5.1-6 */
  background: linear-gradient(to bottom, $high_jumbo 0%, $mid_jumbo 35%, $low_jumbo 100%) /* Most, not old IE */

.actions
  text-align: right
  padding-top: 1.3em

.actions button
  margin: 1em 0.3em

.autocomplete-result
  height: 50px
  padding-top: 3px

.autocomplete-result .icon
  padding-left: 22px

.autocomplete-result .icon img
  width: 44px
  height: 44px

.autocomplete-result .names
  margin-left: 0

.autocomplete-result .names ul
  padding-left: 0
  list-style-type: none

// FORMS (SITE-WIDE)

form .field
  margin-top: 2em

// PAGE (SPECIES / TAXON / TAXON CONCEPT / CLADE)

.page-names h1
  font-size: 3em
  font-weight: 300

.page-names h2
  font-size: 2em
  font-weight: 300
  color: #666
  margin-top: 0

.page-ancestors .breadcrumb
  // The ancestors don't need extra space below them:
  margin-bottom: 0
  // Tighter, too:
  padding: 4px 15px
  font-size: 0.9em
  // And darker:
  background-color: #e6e6e6
  border: 1px solid #ddd
  box-shadow: 1px 1px 5px #ccc

.page-ancestors .breadcrumb li:first-child::before
  content: ""

.page-ancestors .breadcrumb li::before
  content: ">"
  color: #999

.page-ancestors .breadcrumb.active
  color: #444

.tabs
  margin-top: 2em

// MEDIA & GALLERIA (Media browser)

.galleria-theme-classic
  border-radius: 4px
  background-color: e0e0e0

.galleria__credits
  font-weight: 600
  text-shadow: 4px 2px 4px #000 !important

.galleria-theme-classic .galleria-info-text
  border: 2px solid #181818
  border-radius: 4px
  padding: 1.2em
  opacity: 0.9
  box-shadow: 3px 3px 10px #000

.galleria-theme-classic .galleria-info-title
  color: white
  font: normal 14pt/1.3 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif

.galleria-theme-classic .galleria-info-title a
  color: #ccf
  text-decoration: underline

.galleria-theme-classic .media-info
  color: #eee
  font: normal 12pt/1.2 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif

.galleria-theme-classic .info-actions
  margin-top: 1em
  font-style: normal

.galleria-theme-classic .galleria-info-close
  margin: 0.75em

// COLLECTIONS

.collect-image
  float: left !important
  padding-right: 2em

.collection-table-image
  width: 147px

.primary-name
  font-size: 1.3em

.secondary-name
  font-weight: normal

.icons_12_wide .col-md-1
  margin: 0.5em

// MEDIA

.description-blank
  color: lighten($base-color, 30%)

.media-image
  text-align: center

.media-image img
  box-shadow: 4px 4px 12px #888
  margin: 3em

// TRAITS

.traits
  margin-top: 1em

.table-source
  width: 15em
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.traits_by_page
  margin-top: 1em
  table-layout: fixed

.trait-table-image
  width: 99px
