@import url(http://fonts.googleapis.com/css?family=Open+Sans)
html
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: 400
  font-size: 85%
  background-color: snow

$base-color: rgb(51, 51, 51)

// Official EOL colors (kind of... sloppy picker):

$eol-black: #272727
$eol-logo-green: #c1d72e
$eol-green: rgb(192, 213, 48)
$eol-light-green: #99cc33
$eol-blue: #91bde5   
$eol-dark-blue: #426c96
$eol-red: #993333
$eol-gray: #666666
$eol-green: #447766
$eol-orange: #d59046

h1, h2, h3
  color: $eol-dark-blue
  font-weight: 700

a
  color: #23699a

.ui.label
  font-family: Avenir

.uk-text-muted
  font-weight: 300

.eol-text-tiny
  font-size: 0.75rem
  font-family: Avenir

.uk-text-muted
  a
    color: #3892d2

.eol-userform
  width: 37em

.eol-one-line
  height: 1.5em
  white-space: nowrap

.page-ancestors
  background-color: #F8FAFA

.eol-section-aged
  background-color: #f8e9ca
  font-weight: 300
  color: #111

.eol-bright
  background-color: white !important

.eol-secondary
  background-color: $eol-blue !important

.eol-secondary-alt
  background-color: $eol-orange !important

.eol-section-secondary
  @extend .eol-secondary
  font-weight: 300
  color: #111

.eol-section-secondary-alt
  @extend .eol-secondary-alt
  font-weight: 300
  color: #111

.eol-width-medium-icon
  width: 130px

.eol-padding-tiny
  padding: 4px 12px !important

.eol-padding-iconnav
  padding: 6px !important

.eol-bordered-image
  border-bottom: 2px solid #bbb
  border-left: 2px solid #d8d8d8
  border-right: 2px solid #ccc
  border-top: 2px solid #dadada

.ng-validation-error
  color: #ff0000

.btn:focus
  background-color: rgb(147,147,147)

a:hover
  cursor: pointer

button
  box-shadow: 1px 1px 5px #ccc

button a
  font-weight: 600

#page_control
  .nav-pills
    margin-top: 2em

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus
  box-shadow: 1px 1px 5px #444
  font-weight: 600

// HEADER

.nav-search .input-group
  width: 30em

  .dropdown-menu
    li.active div.names
      background-color: #eee
    div.names
      overflow: auto
      width: 24em
      height: 3em

.search-indicator
  padding-top: 1.2em

// PAGE HEADERS / JUMBOTRONS

#main
  padding-top: 1em

$high_jumbo: #fafbfc
$mid_jumbo: #eaebec
$low_jumbo: #f3f4f5
$high_crumb: #fbfcfe
$low_crumb: #f7f7f7

.jumbotron
  box-shadow: 4px 4px 16px #eee
  border: 1px solid darken($mid_jumbo, 5%)
  background: -webkit-linear-gradient(top, $high_jumbo 0%, $mid_jumbo 20%, $low_jumbo 100%) /* Chrome10-25, Safari5.1-6 */
  background: linear-gradient(to bottom, $high_jumbo 0%, $mid_jumbo 20%, $low_jumbo 100%) /* Most, not old IE */

.actions
  text-align: right
  padding-top: 1.3em

.actions a
  box-shadow: 1px 1px 5px #ccc
  color: #283593
  font-weight: 600
  margin: 1em 0.3em
  font-family: Roboto,"Helvetica Neue",sans-serif

.actions button
  margin: 1em 0.3em

.autocomplete-result
  height: 50px
  padding-top: 3px

.autocomplete-result .icon
  padding-left: 22px

.autocomplete-result .icon img
  width: 44px
  height: 44px

.autocomplete-result .names
  margin-left: 0

.autocomplete-result .names ul
  padding-left: 0
  list-style-type: none

// FORMS (SITE-WIDE)

form .field
  margin-top: 2em

form .error
  font-weight: 600
  color: rgb(147,40,53)

.actions input[type="submit"]
  box-shadow: 1px 1px 5px #ccc
  margin: 1em 0.3em
  font-weight: 600
  // TODO: this color shouldn't be hard-coded here; figure out where the "link
  // blue" comes from and use that.
  color: rgb(40,53,147)

// PAGE (SPECIES / TAXON / TAXON CONCEPT / CLADE)

#page_nav_content
  min-height: 40em

#map
  p
    margin: 10px
  #gmap
    margin: 0
    padding: 0
  #panel
    float: left
    height: 0px
    width: 0px
  /* The following was added from Eli's CSS: */
  #map-container
    height: 100%
    background: white
  #map-canvas
    height: 500px
    width: 1100px
  #goBackUI:hover, #goNextUI:hover, #goOrigUI:hover, #goPanelUI:hover, #goFullUI:hover
    background: #e0ecff
  #goBackUI, #goNextUI, #goOrigUI, #goRadioUI, #goPanelUI, #goFullUI
    background-color: #fff
    border: 2px solid #fff
    box-shadow: 0 2px 6px rgba(0,0,0,.3)
    cursor: pointer
    float: left
    text-align: center
    margin-left: 4px
  #goBackText, #goNextText, #goOrigText, #goRadioText, #goPanelText, #goFullText
    color: rgb(25,25,25)
    margin: 3px
  #markerlist
    height: 93%
    margin: 5px 2px 0 5px
    overflow: auto
  .title
    border-bottom: 1px solid #e0ecff
    overflow: hidden
    cursor: pointer
    padding: 2px 0
    display: block
    color: #000
    text-decoration: none
  .title:visited
    color: #000
  .title:hover, #goRadioUI:hover
    background: #e0ecff
  .info
    width: 400px
  .info img
    border: 0
  .info-body
    width: 400px
    height: 200px
    line-height: 200px
    margin: 2px 0
    text-align: center
    overflow: hidden
  .info-img
    height: auto
    width: 100%
  /* The above was added from Eli's CSS: */
