@import "dimensions";
@import "colors";
@import "shared/layout";
@import "shared/traits";

$trait-key-color: #6f5a42;
$trait-val-color: #c06a11;

$border-width: 1px;
$border: $border-width solid $light-gray;

$tabs-height: 25px;
$tabs-m-height: 30px;
$head-height: 70px;
$actions-height: 45px;

$pad-l-sm: 13px;
$pad-l-m: 17px;

$font-sz-sm: 11px;
$font-sz-m: 14px;

.img-info {
  background: rgba(0, 0, 0, .8);
  color: $white;
  bottom: 0;
  font-size: $font-sz-sm;
  height: 20px;
  line-height: 20px;
  padding-left: $pad-l-sm;
  position: absolute;
  width: 100%;
}

.hero-link {
  display: block;
  width: 100%;
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-bottom: percentage(197px / $mobile-width);
  position: relative;
  width: 100%;
}

.hero-after {
  display: none;
}

.head-icon {
  float: left;
  height: 100%;
}

.head-txt {
  padding: 0 $padding-left-s;
}

.names {
  margin-top: 2px;
  height: 100%;
  overflow: auto;
  white-space: nowrap;

  & > h1 {
    font-size: 20px;
    font-weight: 600;
    margin: 2px 0;
  }

  & > h2 {
    font-size: 13px;
    font-weight: normal;
    margin: 2px 0 0 0;
  }
}

.hier {
  font-size: 11px;
  margin: 2px 0;
  width: 100%;
}

.l-tabs {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.l-page-head {
  border-top: $border;
  height: $head-height;
}

.l-page-actions {
  height: $actions-height;
  text-align: right;
  margin-right: 10px;

  & > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.tabs {
  border-top: $border;
  border-bottom: $border;
  font-size: 11px;
  height: $tabs-height;
  list-style: none;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 $padding-left-s;
  white-space: nowrap;
}

  .tab {
    $height: $tabs-height - 2 * $border-width;
    cursor: pointer;
    display: inline-block;
    height: $height;
    line-height: $height;
    padding: 0 7px;
    vertical-align: middle;
  }

  .is-tab-selected {
    background: $eol-logo-blue;

    & > a {
      color: $white; 
      cursor: normal;
      text-decoration: none;
    }
  }

.desc {
  border-bottom: $border;
  font-size: 11px;
  line-height: 1.36;
  margin: 0;
  padding: 13px $padding-left-s;
}

.sample-traits {
  display: flex;
  flex-wrap: wrap;
  font-size: $font-sz-sm;
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    border-bottom: $border;
    border-right: $border;
    flex: 1 0 auto;
    height: 48px;
    padding: 7px $pad-l-sm;
  }
}

.l-content {
  overflow: hidden;
  margin-top: $head-height + $tabs-height + $actions-height;
}

@media(min-width: $width-m) {
  .l-content {
    margin-top: $head-height + $tabs-m-height  + $actions-height;
  }

  .head-txt {
    padding: 0 $padding-left-m;
  }

  .tabs {
    height: $tabs-m-height;

    & > li {
      $height: $tabs-m-height - 2 * $border-width;
      height: $height;
      line-height: $height;
      font-size: 14px;
      padding: 0 10px;
    }
  }

  .img-info {
    font-size: $font-sz-m;
    height: 30px;
    line-height: 30px;
    padding-left: $pad-l-m
  }

  .desc {
    font-size: 14px;
    padding: 15px $padding-left-m;
  }

  .sample-traits {
    font-size: $font-sz-m;

    & > li {
      padding-left: $pad-l-m;
      height: 58px;
    }
  }

}


@media(min-width: 1100px) {
  .l-flex {
    display: flex;
  }

  .l-left-col {
    flex: 0 0 auto;
    width: 600px;
  }

  .hero-before {
    display: none;
  }

  .hero-after {
    display: block;
  }
}

// leaflet map
#map {
  border: 1px solid #aaa;
  height: 500px;
  max-width: 90%;
  margin: 20px auto;
}

@media (min-width: 1220px) {
  .hero {
    height: 702px;
    padding: 0;
  }
}
