@import "colors";
@import "dimensions";

$search-result-count-height: 54px;
$filter-type-width: 174px;
$filter-type-space: 7px;
$hier-brown: #b17400;

.search-form {
  margin-bottom: 68px;
  text-align: center;

  input {
    border: none;
    font-size: 16px;
    margin: 50px 0 5px 0;
    text-align: center;
    width: 222px;

    &:focus {
      outline: none;
    }
  }
}

.search-sug-cont {
  text-align: center;
}

.search-sug-cont > h2 {
  color: $eol-blue;
  font-size: 12px;
}

.search-sugs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 112px;
  overflow: auto;
  padding: 0;
}

.search-sug {
  align-items: center;
  border-radius: 3px;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(175, 175, 175, 0.5);
  cursor: pointer;
  display: flex;
  font-size: 12px;
  justify-content: center;
  list-style: none;
  margin: 4px 4px;
  width: 124px;
  padding: 11px 25px;
}

.search-results {
  padding: 0 0 $search-result-count-height 0;
}

.search-result {
  border-bottom: 1px solid $eol-gray;
  cursor: pointer;
  height: 60px;
  list-style: none;
  white-space: nowrap;
}

.search-result > a, .search-result > a:hover {
  color: inherit;
  display: flex;
  height: 100%;
  text-decoration: none;
}

.search-result-icon {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  overflow: hidden;
}

.search-result-icon-main {
  width: 60px;
}

.search-result-icon-plus {
  width: 45px;
}

.search-result-details {
  flex: 1 1 auto;
  margin: 0 7px;
  overflow-x: auto;
  overflow-y: hidden;
}

.search-result-title {
  color: $eol-black;
  font-weight: bold;
  font-size: 14px;

  .sub {
    font-weight: normal;
  }
}

.search-result-content {
  font-size: 12px;
}

.search-result-hier {
  color: $hier-brown;
  font-size: 10px;
}


.filter-bar {
  align-items: center;
  background: $light-blue;
  bottom: 0;
  cursor: pointer;
  display: flex;
  height: 54px;
  justify-content: center;
  left: 0;
  position: fixed;
  width: 100%;

  &.is-active {
    .filter-bar-icon-close {
      display: inline;
    }

    .filter-bar-icon-open {
      display: none;
    }
  }
}

.filter-bar-icon {
  color: $eol-blue;
  left: 50px;
  position: absolute;
  top: 12px;
}

.filter-bar-icon-close {
  display: none;
}

.search-filter {
  background: rgba(82, 82, 82, 0.83);
  display: none;
  height: 100%;
  left: 0;
  padding-top: $navbar-height;
  position: fixed;
  top: 0;
  width: 100%;
}

.search-filter-types {
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  margin: (144px - $filter-type-space) auto 0 auto;
  width: 2 * $filter-type-width + $filter-type-space;
  flex-wrap: wrap;
}

.search-filter-type {
  $height: 52px;

  background: $light-blue;
  font-size: 14px;
  height: $height;
  line-height: $height;
  margin-top: $filter-type-space;
  text-align: center;
  width: $filter-type-width;

  i {
    display: none;
  }

  &.is-active {
    background: $white;

    i {
      display: inline;
    }
  }
}
