@import "colors";
@import "dimensions";

$result-height-s: 108px;
$filter-bar-height: 64px;
$filter-bar-row-height: $filter-bar-height / 2;

.search-form {
  padding-top: 50px;
}

.search-input {
  background: none;
  border: none;
  display: block;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  width: 375px;
}

.filter-bar {
  background: $light-blue;
  color: $eol-dark-blue;
  cursor: pointer;
  height: $filter-bar-height;
  left: 0;
  position: fixed;
  text-align: center;
  top: $nav-height;
  width: 100%;
  z-index: 10;
}

.filter-bar-row {
  $height: $filter-bar-row-height;
  
  height: $height;
  line-height: $height;
}

.filter-bar-row-top {
  background: $white;
  border-bottom: 1px solid $eol-blue;
  border-top: 1px solid $eol-blue;
  color: $eol-black;
}

.filter-bar-filters {
  border-right: 1px solid $eol-blue;
  display: inline-block;
  width: 70%;
}

.filter-bar-advanced {
  display: inline-block;
  width: 30%;

  & > a {
    display: block;
    text-decoration: none;
    width: 100%;
  }
}

.filter-bar-input {
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  height: $filter-bar-row-height;
  text-align: center;
  width: 100%;
}

.search-results {
  background: $white;
  list-style: none;
  overflow: auto;
  margin: $filter-bar-height 0 0 0;
  padding: 0;
}

.search-result {
  border-bottom: 1px solid $light-gray;
  height: $result-height-s;
  margin: 0 !important;
  overflow: hidden;
  padding: 0 !important;
  position: relative;

  & > a {
    display: block;
    height: 100%;
  }
}

.search-icon {
  align-items: center;
  background: $white;
  display: flex;
  float: left;
  height: $result-height-s;
  justify-content: center;
  margin-right: 6px;
  position: relative;
  width: $result-height-s;
}

.search-content {
  height: 100%;
  white-space: nowrap;
}


.search-hier {
  color: $eol-hier-orange;
  height: 23px;
}

.is-search-hier-content {
  background: $eol-hier-yellow;
}

.search-title {
  font-size: 16px;
  margin-top: 3px;
}

.search-info {
  margin-top: 1px;
  font-size: 14px;
}

/* search filter overlay */
$filter-type-width: 230px;
$filter-type-height: 45px;
$filter-type-space: 7px;
.search-filter-types {
  display: block;
  list-style: none;
  margin: 75px auto 0 auto;
  padding: 0;
  width: $filter-type-width;
}

.search-filter-type {
  background-color: #6b737a;
  border-radius: 19.5px;
  color: #bfc2c4;
  cursor: pointer;
  font-size: 16px;
  height: $filter-type-height;
  line-height: $filter-type-height;
  margin: 0 0 $filter-type-space 0;
  padding: 0 8px;
  width: $filter-type-width;

  & > i {
    height: $filter-type-height;
    line-height: $filter-type-height;
  }
}

.search-filter-icon {
  float: left;
  margin-right: 5px;
  text-align: center;
  width: 38px;
}

.search-filter-check {
  color: $eol-green;
  display: none;
  float: right;
}

.is-search-filter-type-active {
  background: $white;
  color: $eol-black;

  .search-filter-check {
    display: inline;
  }
}

.resource-bubbles {
  margin: 5px;

  & > li {
    $height: 25px;
    background: #d8e0e6;
    border-radius: 100px;
    display: inline-block;
    height: $height;
    line-height: $height;
    margin-right: 8px;
    padding: 0 8px;
  }
}
/*
$search-result-count-height: 54px;

.search-form {
  margin-bottom: 68px;
  text-align: center;

  input {
    border: none;
    font-size: 16px;
    margin: 50px 0 5px 0;
    text-align: center;
    width: 222px;

    &:focus {
      outline: none;
    }
  }
}

.search-sug-cont {
  text-align: center;
}

.search-sug-cont > h2 {
  color: $eol-blue;
  font-size: 12px;
}

.search-sugs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 112px;
  overflow: auto;
  padding: 0;
}

.search-sug {
  align-items: center;
  border-radius: 3px;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(175, 175, 175, 0.5);
  cursor: pointer;
  display: flex;
  font-size: 12px;
  justify-content: center;
  list-style: none;
  margin: 4px 4px;
  width: 124px;
  padding: 11px 25px;
}

.search-results {
  padding: 0 0 $search-result-count-height 0;
}

.search-result {
  border-bottom: 1px solid $eol-gray;
  cursor: pointer;
  list-style: none;
}

.search-result > a, .search-result > a:hover {
  color: inherit;
  height: 100%;
  text-decoration: none;
}

.filter-bar {
  align-items: center;
  background: $light-blue;
  bottom: 0;
  cursor: pointer;
  display: flex;
  height: 54px;
  justify-content: center;
  left: 0;
  position: fixed;
  width: 100%;

  &.is-active {
    .filter-bar-icon-close {
      display: inline;
    }

    .filter-bar-icon-open {
      display: none;
    }
  }
}

.filter-bar-icon {
  color: $eol-blue;
  left: 50px;
  position: absolute;
  top: 12px;
}

.filter-bar-icon-close {
  display: none;
}

*/
