@import "shared/traits";
@import "shared/summary_card";
@import "colors";

// GLOSSARY
.uk-description-list > .term-name {
  text-transform: none;
}

.term-browse-select {
  display: block;
  margin: 10px 0;
}
