@import "shared/traits";
@import "shared/summary_card";

.l-terms {
  padding: 10px percentage(15 / 375);
}

.filter {
  margin-bottom: 16px;
  position: relative;
}

.is-multiple-filters .filter {
  padding-left: 40px;
}

.traits-term-search {
  margin-bottom: 30px;
  margin-top: 30px;
}

.submit {
  display: block;
  margin-top: 20px;
}


.is-filter-row-with-errors {
  margin-top: 25px;
}

.filter-error {
  color: #f00;
  font-size: 12px;
  position: absolute;
  text-align: center;
  top: -15px;
  width: 100%;
}

.filter-field {
  position: relative;
}

.filter-field-radio {
  margin: 0 15px;
}

.filter-input {
  vertical-align: bottom !important;
}

.l-filter-first {
  position: absolute; 
  vertical-align: bottom;
  left: 0;
  top: 6px;
}

.filter-icon {
  padding-bottom: 5px;
}

.filter-txt {
  display: inline-block;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  margin: 0 5px;
  vertical-align: bottom;
}

.add-filter {
  cursor: pointer;
}

.is-icon-disabled {
  cursor: default;
  color: #ccc;
}

.l-filter-full {
  width: 100%;

  & > span {
    width: 100%;
  }
}

.filter-row {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  width: 100%;
}

.edit-filters-row {
  color: $eol-blue;
  text-align: center;
}

.edit-filters {
  cursor: pointer;
}

.show-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;

  & > li {
    border: 1px solid $eol-blue;
    border-radius: 5px;
    margin: 5px;
    padding: 12px 30px;
  }
}
