@import "shared/traits";

.l-term {
  padding: 0 15px;
}

.l-filters {
  padding: 50px 0 0 35px;
}

.filter-row-clade {
  margin-bottom: 20px;
}

.traits-term-search {
  margin-bottom: 30px;
  margin-top: 30px;
}

.submit {
  display: block;
  margin-top: 20px;
}

.filter-row {
  margin-top: 5px;
}

.is-filter-row-with-errors {
  margin-top: 30px;
}

.filter-error {
  color: #f00;
  font-size: 12px;
  left: 5px;
  position: absolute;
  top: -15px;
}

.filter-field {
  position: relative;
}
