%h1= t(:collection_search_title, q: q)
  %ul.found_pages.uk-list
    - collected_pages.each do |collected_page|
      -# TODO: Change this. ...it's no longer a row.
      = render("pages/as_row",
        page: collected_page.page,
        icon: collected_page.icon,
        media: collected_page.media,
        common: collected_page.name,
        scientific: collected_page.scientific_name_string)
