#collected_page.container
  - if image = @collected_page.medium_icon_url # || @page.icon
    .collect-image
      = image_tag(image, size: "130x130")
  - if @wants_icon
    %h2.clearfix= t(:collect_icon_title, item: @collected_page.medium.name, page: @page.name(Language.current)).html_safe
  - else
    %h2.clearfix= t(:collect_title, item: @page.name(Language.current).html_safe)
  = render("new")
