- unless flash.empty?
  - flash.each do |name, msg|
    - next if name == "recaptcha_error"
    %p.eol-flash{ class: name, data: { text: Array(msg).join("; ") }, hidden: true }
      = Array(msg).join("; ")
