- content_for :body  do
  %body
    = render("application/navbar")
    -#.uk-container
    .div
      #main{ :class => (@nopad ? "nopad" : "")}
        = render("layouts/flash")
        .uk-section.uk-padding-remove-bottom
          = content_for?(:content) ? yield(:content) : yield
= render template: "layouts/head_only"
